doctype html 
html
  head
    title Home - Weather API
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    body
     <!--Navbar-->
     nav 
      ui 
       li 
        a(href="/")
          | Home
        li
          a(href="/weather")
            | Weather   
     .container(style="padding-top: 100px")
      .row
        .col-md-12
        h1(class="text-center")
          | Blue's Weather API
        h3(class="text-center")
            | Information about the Weather API
        p(class="h5 lead text-center")
          | The api was by the Blue's Weather API team.