doctype html
html
  head
    title Weather API Info - Weather API
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body(style="padding-top: 300px")
    .container
      .row
        .col-md-12
          h1 Weather API Info
          p
            | This is a simple weather API that uses the OpenWeatherMap API.
            | It is a simple way to get the current weather in a city.
          p 
            | The API is simple and easy to use.
            | It only requires a city name and a country code.
            | It returns the current weather in the city.
          p
            | The example below shows how to use the API,
            | It is a simple way to get the current weather in a city.
          code
            | https://#{url}/weather/city,countrycode
