doctype html
html
  head
    title Weather Info
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body(style="padding-top: 300px")
    <!-- Weather card with info -->
    card(class="text-center")
      h1 Weather:
      h3 temp #{temp}°C
        h3 humidity #{humidity}%
        h3 wind #{wind} m/s
        h3 clouds #{clouds}%
    // Footer
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    footer(class="text-center text-list-unstyled")
      p Copyright &copy; Blue's API 2022

